body{
  background-image: url("bilder/IMG_1048.JPG");
  width:100%;
  height:100%;
  min-height: 970px;
  font-size: 28px;
  margin:0;
  padding:0;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

a{
  text-decoration: none;
  color:white;
  cursor:pointer;
}



#header{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  color:white;
  top:0;

  height:200px;
  width:100%;
  float:left;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 3%;
  opacity: 1;
  -webkit-animation: fadein 3s;
     -moz-animation: fadein 3s;
      -ms-animation: fadein 3s;
       -o-animation: fadein 3s;
          animation: fadein 3s;


}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#mainDiv{
  display: flex;
  justify-content: flex-start;

  height: 500px;
  width:100%;
  align-self: center;
  margin-top: 20%;

}
.dropdownA{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  height:20%;
  width:40%;
  background:#D90368;
  opacity:0.8;
}
footer{
  bottom:0px;
  background: #3ACCCC;
  opacity: 0.8;
  height:7%;
  width:100%;
  -webkit-animation: fadein 6s;
     -moz-animation: fadein 6s;
      -ms-animation: fadein 6s;
       -o-animation: fadein 6s;
          animation: fadein 6s;
  position:absolute;
}
#divProjects{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color:white;
  font-family: Futura;
  font-size: 70%;
  height: 40%;
  width:100%;
  opacity:0.8;
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}

#name{
  flex:0.8;
  border-right: 2px solid white;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-family: Source Sans Pro, sans-serif;

}
#menu{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 75%;
flex:1;
opacity: 0.8;
}
.headerA:nth-child(1){
  background: #004475;
  margin-left: 10%;
}.headerA:nth-child(1):active{background:white;}

.headerA:nth-child(2){
  background: #FF4766;

}.headerA:nth-child(3){
  background: #3ACCCC;
}
.headerA{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:70%;
  height: 50px;
  width:20%;
  background: salmon;
  opacity:0.8;

}

#describe{
font-size: 80%;
}
